/*------------------------------------*\
  > Dropdown
  @todo: Refactor (Class name are not clear (e.g. dropdown__footer-container))
\*------------------------------------*/
.dropdown {
    display: inline-block;
    position: relative;
}

// Dropdown Toggle
// Default toggle for the dropdown (look like the select toggles)
// ---------------------
.dropdown__toggle {
    fill: $primary-blue-dd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    position: relative;
    padding: $size-6 $size-9 $size-7 $size-12;
    background-color: #fff;
    color: $primary-blue;
    border: 1px solid $primary-blue-ll;
    border-radius: $input-border-radius;
    text-transform: none;
    font-family: $font-body;
    font-size: $size-16;
    font-weight: $font-weight-title;
    transition: background-color .1s $easeInOutCubic, color .2s $easeInOutCubic, border-color .2s $easeInOutCubic;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }

    // Hover, focus, active interactions
    &:hover {
        background-color: fade-out($primary-blue-lll, 0);
        color: $primary-blue;
    }

    &:focus {
        outline: none;
        border-color: $primary-blue-dd;
    }

    &[aria-expanded="true"] {
        background-color: fade-out($primary-blue-lll, 0);
    }
}

.dropdown__toggle-label {
    padding-right: $size-10;
    vertical-align: unset;
    white-space: nowrap;
}

.dropdown__toggle-icon {
    fill: $primary-blue;
    width: $size-24;
    height: $size-24;
    margin-top: $size-1;
}

.dropdown__toggle[aria-expanded="true"] .dropdown__toggle-icon {
    transform: scaleY(-1);
}

// Dropdown Body
// Part of the dropdown display when open
// Full screen on mobile (like modal), small box on desktop
// ---------------------
.dropdown__body {
    z-index: z("modal") - 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    overflow-y: auto;
    background: #fff;

    @include media-query("desktop") {
        z-index: z("dropdown");
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: auto;
        padding: $size-24 $size-32;
        border: 1px solid fade-out($primary-blue-ll, .6);
        border-radius: $input-border-radius;
        list-style-type: none;
        background: #fff;
        box-shadow: 0 2px 10px rgba(79, 127, 182, .25); // $primary-blue
        top: calc(100% + #{$size-10});
    }
}

.dropdown__body.hidden {
    display: none;
}

// Dropdown Body Title
// Title of the dropdown (only display on mobile)
// Use as a button to close the dropdown
// ---------------------
.dropdown__body-title {
    position: relative;
    display: flex;
    padding: 0 $size-50;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    border-bottom: 1px solid $primary-blue-lll;
    text-align: center;
    font-family: $font-title;
    color: $primary-blue-d;
    font-size: $size-20;
    font-weight: $font-weight-title;
    background: $primary-blue-llll;
    text-decoration: none;

    @include media-query("desktop") {
        display: none;
    }

    &:hover,
    &:focus {
        text-decoration: none;
        color: $primary-blue-d;
        outline: none;
        box-shadow: none;
        background-color: $primary-blue-ll;
    }

    &::first-letter {
        text-transform: uppercase;
    }
}

.dropdown__body-title-icon {
    position: absolute;
    top: 50%;
    left: $size-20;
    transform: translateY(-50%);
    pointer-events: none;
    fill: $primary-blue;
    border-radius: 50%;
    background-color: #fff;
    width: $size-32;
    height: $size-32;
    padding: $size-7 $size-8 $size-7 $size-6;
}

.dropdown__body-title:hover .dropdown__body-title-icon,
.dropdown__body-title:focus .dropdown__body-title-icon {
    fill: $primary-blue-dd;
}

// Dropdown Body Content
// Wrapper containing the "content" (all the item from the slot) of the dropdown
// ---------------------
.dropdown__body-content {
    min-height: 60px;
    margin-bottom: $size-80;
    text-align: left;
    padding: $size-20;

    @include media-query("desktop") {
        min-height: 0;
        max-width: 300px;
        margin-bottom: 0;
        padding: 0;
    }
}

// Dropdown Footer
// Footer of the dropdown, that contain, apply link or other buttons
// ---------------------
.dropdown__footer {
    box-shadow: 0 $size-2 $size-10 rgba(79, 127, 182, .25);
    position: fixed;
    left: 0;
    padding: $size-20;
    bottom: 0;
    width: 100%;
    background: #fff;
    text-align: center;

    @include media-query("desktop") {
        position: relative;
        padding: 0;
        box-shadow: none;
    }
}

.dropdown__footer-button {
    @include button-plain($primary-green);
    cursor: pointer;

    .button__icon {
        display: none;
    }
}

.dropdown__footer .button--primary {
    margin-top: 0;
    width: 100%;

    @include media-query("desktop") {
        margin-top: $size-8;
        width: initial;
    }
}

/*------------------------------------*\
  > Dropdown Nested
  Dropdown use inside another fullscreen component (modal like element)
  e.g. Quick search filter on mobile
\*------------------------------------*/

.dropdown--nested {
    width: 100%;
    border-bottom: $size-1 solid $primary-blue-lll;
}

